{
  "swagger": "2.0",
  "info": {
    "description": "This is the currency API for getting the list of all currencies, currencies by coutry and exchange rates",
    "version": "1.0.0",
    "title": "Countries, Currencies and Exchange Rates API",
    "contact": {
      "email": "manmeet.singh@publicissapient.com"
    }
  },
  "tags": [
    {
      "name": "Country",
      "description": "List of countries APIs"
    },
    {
      "name": "Exchange Rates",
      "description": "List of Exchange rates API"
    }
  ],
  "paths": {
    "/exchangeRates": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "searches inventory",
        "operationId": "searchInventory",
        "description": "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "baseCurrencyCode",
            "description": "The base currency code from which we need exchange rates in all other currenies",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange Rates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExchangeRatesResponse"
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "searches countries",
        "operationId": "getCountries",
        "description": "Get the list of all counrties with currency codes\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "description": "the country for which the currencies are required. If not passed currencies for all countries will be returned.",
            "required": false,
            "type": "string",
            "minimum": 3,
            "maximum": 50
          }
        ],
        "responses": {
          "200": {
            "description": "search results matching criteria",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListOfCountries"
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    }
  },
  "definitions": {
    "ListOfCountries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Country"
      }
    },
    "Country": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "example": "AUS"
        },
        "countryName": {
          "type": "string",
          "example": "Australia"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        }
      }
    },
    "Currency": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "example": "AUD"
        },
        "displayName": {
          "type": "string",
          "example": "Australian Dollars"
        }
      }
    },
    "ExchangeRatesResponse": {
      "type": "object",
      "properties": {
        "baseCurrency": {
          "type": "string",
          "example": "GBP"
        },
        "effectiveDate": {
          "type": "string",
          "example": "2020-12-31"
        },
        "rates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExchangeRate"
          }
        }
      }
    },
    "ExchangeRate": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "example": "EUR"
        },
        "exchangeRate": {
          "type": "number",
          "example": 1.223
        }
      }
    }
  },
  "host": "lloydsserver.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ]
}