{
  "swagger": "2.0",
  "info": {
    "description": "This is the currency API for getting the list of all currencies, currencies by coutry and exchange rates",
    "version": "1.0.0",
    "title": "Countries, Currencies and Exchange Rates API",
    "contact": {
      "email": "manmeet.singh@publicissapient.com"
    }
  },
  "tags": [
    {
      "name": "Countries",
      "description": "List of countries APIs"
    },
    {
      "name": "Exchange Rate",
      "description": "List of Exchange rates API"
    }
  ],
  "paths": {
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "searches countries",
        "operationId": "getCountries",
        "description": "Get the list of all counrties with currency codes\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "The JWT token for API security",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "schema": {
              "$ref": "#/definitions/APIResponse"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/exchangerate": {
      "get": {
        "tags": [
          "Exchange Rate"
        ],
        "summary": "searches inventory",
        "operationId": "searchInventory",
        "description": "By passing in the appropriate options, you can search for\navailable inventory in the system\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "baseCurrencyCode",
            "description": "The base currency code from which we need exchange rates in all other currenies",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toCurrencyCode",
            "description": "The currency for which we need exchange rate",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "The JWT token for API security",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange Rates",
            "schema": {
              "$ref": "#/definitions/ExchangeRateResponse"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ListOfCountries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Country"
      }
    },
    "Country": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "example": "AUS"
        },
        "countryName": {
          "type": "string",
          "example": "Australia"
        },
        "currencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Currency"
          }
        }
      }
    },
    "Currency": {
      "type": "object",
      "properties": {
        "isoCode": {
          "type": "string",
          "example": "AUD"
        },
        "displayName": {
          "type": "string",
          "example": "Australian Dollars"
        }
      }
    },
    "ExchangeRateResponse": {
      "type": "object",
      "properties": {
        "baseCurrencyCode": {
          "type": "string",
          "example": "GBP"
        },
        "toCurrencyCode": {
          "type": "string",
          "example": "AUD"
        },
        "rate": {
          "type": "number",
          "example": 1.223
        },
        "effectiveDate": {
          "type": "string",
          "example": "2020-12-31"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": false
        },
        "error": {
          "$ref": "#/definitions/Error"
        },
        "trackingId": {
          "type": "string",
          "description": "This will be a uniqie Id specific to this request whcih can be used to trace the call in the micro-service",
          "example": "MDC-1583849158557"
        }
      }
    },
    "APIResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Country"
          }
        },
        "trackingId": {
          "type": "string",
          "description": "This will be a uniqie Id specific to this request whcih can be used to trace the call in the micro-service",
          "example": "MDC-1583849158557"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string",
          "example": "ERR001"
        },
        "delevoperMessage": {
          "type": "string",
          "example": "BAPI API is returning 401"
        }
      }
    }
  },
  "host": "lloydsserver.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ]
}