{
  "swagger": "2.0",
  "info": {
    "description": "This is the currency API for getting the list of all currencies, currencies by coutry and exchange rates",
    "version": "1.0.0",
    "title": "Countries, Currencies and Exchange Rates API",
    "contact": {
      "email": "manmeet.singh@publicissapient.com"
    }
  },
  "host": "lloydsserver.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Countries",
      "description": "Set of APIs related to countries and its currencies"
    },
    {
      "name": "Exchange Rate",
      "description": "Set of APIs related to currency exchange rates"
    }
  ],
  "paths": {
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get the list of all Countries with the currencies supported",
        "operationId": "getCountries",
        "description": "Get the list of all counrties with currency codes\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "The JWT token for API security",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "schema": {
              "$ref": "#/definitions/CountriesAPIResponse"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/exchangerate": {
      "get": {
        "tags": [
          "Exchange Rate"
        ],
        "summary": "Get the exchange rate for a currency wrt a base currency",
        "operationId": "searchInventory",
        "description": "Get the exchange rate for a currency wrt a base currency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "baseCurrencyCode",
            "description": "The base currency code from which we need exchange rates in all other currenies",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "toCurrencyCode",
            "description": "The currency for which we need exchange rate",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Authorization",
            "description": "The JWT token for API security",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange Rates",
            "schema": {
              "$ref": "#/definitions/ExchangeRateResponse"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Country": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "example": "AUS"
        },
        "countryName": {
          "type": "string",
          "example": "Australia"
        },
        "currencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Currency"
          }
        }
      },
      "example": [
        {
          "countryCode": "USA",
          "countryName": "United States Of America",
          "currencies": [
            {
              "isoCode": "USD",
              "displayName": "US Dollars"
            }
          ]
        },
        {
          "countryCode": "AUS",
          "countryName": "Australia",
          "currencies": [
            {
              "isoCode": "AUD",
              "displayName": "Australian Dollars"
            },
            {
              "isoCode": "USD",
              "displayName": "US Dollars"
            }
          ]
        }
      ]
    },
    "Currency": {
      "type": "object",
      "properties": {
        "isoCode": {
          "type": "string",
          "example": "AUD"
        },
        "displayName": {
          "type": "string",
          "example": "Australian Dollars"
        }
      }
    },
    "ExchangeRateResponse": {
      "type": "object",
      "properties": {
        "baseCurrencyCode": {
          "type": "string",
          "example": "GBP"
        },
        "toCurrencyCode": {
          "type": "string",
          "example": "AUD"
        },
        "rate": {
          "type": "number",
          "example": 1.223
        },
        "effectiveDate": {
          "type": "string",
          "example": "2020-12-31"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "This is the boolean flag that should be checked before reading the response.",
          "example": false
        },
        "error": {
          "$ref": "#/definitions/Error"
        },
        "trackingId": {
          "type": "string",
          "description": "This will be a uniqie Id specific to this request whcih can be used to trace the call in the micro-service",
          "example": "MDC-1583849158557"
        }
      }
    },
    "CountriesAPIResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "trackingId": {
          "type": "string",
          "description": "This will be a uniqie Id specific to this request whcih can be used to trace the call in the micro-service",
          "example": "MDC-1583849158557"
        },
        "result": {
          "type": "array",
          "description": "The list of countries object",
          "items": {
            "$ref": "#/definitions/Country"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "This is the Error code that will be mapped to a error scenario.",
          "example": "ERR001"
        },
        "delevoperMessage": {
          "type": "string",
          "description": "This will be a message which is specific to a developer and can tell the reason of failure.",
          "example": "BAPI API is returning 401"
        }
      }
    }
  }
}