{
  "swagger": "2.0",
  "info": {
    "description": "This is the API for getting international payment details for an account of a customer",
    "version": "1.0.0",
    "title": "Share International Payments Details",
    "contact": {
      "email": "manmeet.singh1@lloydsbanking.com"
    }
  },
  "host": "lloydsserver.com",
  "basePath": "/internationalPayments/details/api",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "International Payment",
      "description": "Set of APIs related to international payments attributes"
    }
  ],
  "paths": {
    "/iban": {
      "get": {
        "tags": [
          "International Payment"
        ],
        "summary": "Get the IBAN for a customer account",
        "operationId": "getIBAN",
        "description": "Get the IBAN for a customer account\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "arrangementId",
            "type": "string",
            "required": true,
            "description": "The arrangement Id for which we need to the IBAN"
          },
          {
            "in": "header",
            "name": "x-authId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-sessionId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "IB-ms-app-nonce",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "TRACKING_ID",
            "description": "This will be a tracking id that can be used to trace the api call",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            },
            "schema": {
              "$ref": "#/definitions/IBAN"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            }
          }
        }
      }
    },
    "/bic": {
      "get": {
        "tags": [
          "International Payment"
        ],
        "summary": "Get the BIC for a customer account",
        "operationId": "getBIC",
        "description": "Get the BIC for a customer account\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "arrangementId",
            "type": "string",
            "required": true,
            "description": "The arrangement Id for which we need to the IBAN"
          },
          {
            "in": "header",
            "name": "x-authId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-sessionId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "IB-ms-app-nonce",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "TRACKING_ID",
            "description": "This will be a tracking id that can be used to trace the api call",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            },
            "schema": {
              "$ref": "#/definitions/BIC"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            }
          }
        }
      }
    },
    "/branch": {
      "get": {
        "tags": [
          "International Payment"
        ],
        "summary": "Get the branch address details for a customer account.",
        "operationId": "getBranchDetails",
        "description": "Get the branch address details for a customer account.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "arrangementId",
            "type": "string",
            "required": true,
            "description": "The arrangement Id for which we need to the IBAN"
          },
          {
            "in": "header",
            "name": "x-authId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-sessionId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "IB-ms-app-nonce",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "TRACKING_ID",
            "description": "This will be a tracking id that can be used to trace the api call",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            },
            "schema": {
              "$ref": "#/definitions/BranchDetails"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            }
          }
        }
      }
    },
    "/paymentDetails": {
      "get": {
        "tags": [
          "International Payment"
        ],
        "summary": "Get the international payment details for a customer account",
        "operationId": "getPaymentDetails",
        "description": "Get the international payment details for a customer account\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "arrangementId",
            "type": "string",
            "required": true,
            "description": "The arrangement Id for which we need to the IBAN"
          },
          {
            "in": "header",
            "name": "x-authId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-sessionId",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "IB-ms-app-nonce",
            "description": "The SAML security header",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "TRACKING_ID",
            "description": "This will be a tracking id that can be used to trace the api call",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            },
            "schema": {
              "$ref": "#/definitions/PaymentDetails"
            }
          },
          "401": {
            "description": "Un-authorised",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "TRACKING_ID": {
                "type": "string",
                "description": "       This is the Tracking Id generated by the service or used oe sent in request header and will be used for tracking the request."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IBAN": {
      "type": "object",
      "properties": {
        "iban": {
          "type": "string",
          "example": "GB29 NWBK 6016 1331 9268 19"
        }
      }
    },
    "BIC": {
      "type": "object",
      "properties": {
        "bic": {
          "type": "string",
          "example": "LOYDGB21"
        }
      }
    },
    "BranchDetails": {
      "type": "object",
      "properties": {
        "bic": {
          "type": "string",
          "example": "LOYDGB21"
        },
        "address": {
          "type": "object",
          "properties": {
            "line1": {
              "type": "string",
              "example": "Flat 11"
            },
            "line2": {
              "type": "string",
              "example": "Baldwin House"
            },
            "street": {
              "type": "string",
              "example": "Gayton Road"
            },
            "city": {
              "type": "string",
              "example": "London"
            },
            "country": {
              "type": "string",
              "example": "UK"
            },
            "postcode": {
              "type": "string",
              "example": "SW093PT"
            }
          }
        }
      }
    },
    "PaymentDetails": {
      "type": "object",
      "properties": {
        "iban": {
          "type": "string",
          "example": "GB29 NWBK 6016 1331 9268 19"
        },
        "branchDetails": {
          "$ref": "#/definitions/BranchDetails"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The timestamp string when the error occurred in the service"
        },
        "status": {
          "type": "number",
          "description": "the HTTP Status code"
        },
        "error": {
          "type": "string",
          "description": "The description of the error occured"
        },
        "message": {
          "type": "string",
          "description": "The message that is relevant to the developer"
        },
        "path": {
          "type": "string",
          "description": "The path of the API for which error occurred."
        }
      },
      "example": {
        "timestamp": "2019-01-17T16:12:45.977+0000",
        "status": 500,
        "error": "Internal Server Error",
        "message": "Error processing the request!",
        "path": "/my-endpoint-with-exceptions"
      }
    }
  }
}